          <center> <h1>Home Page!</h1>
             <h5>Join us today. Register and login :)</h5>

                <h5>Monitor yourself everyday</h5></center>

{% extends "blog/base.html" %}
{% block content %}
    {% for stat in stats %}

         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ stat.author }}</a>

            </div>
            <h2><a class="article-title" href="#">{{ stat.date_posted }}</a></h2>
            <p class="article-content">Alcohol = {{ stat.alcohol }}</p>
            <p class="article-content">Blood pressure = {{ stat.blood_pressure }}</p>
            <p class="article-content">Steps = {{ stat.steps }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

