{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username}}</h1>
    <h4>Your stats</h4>

    {% for drink in drinking %}

         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Drinking</a>

            </div>
            <h2><a class="article-title" href="#">{{ drink.timestamp }}</a></h2>
            <p class="article-content">Alcohol = {{ drink.alcohol }}</p>

          </div>
        </article>
    {% endfor %}

    {% for active in activity %}

         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Activity </a>

            </div>
            <h2><a class="article-title" href="#">{{ active.timestamp }}</a></h2>
            <p class="article-content">Steps = {{ active.steps }}</p>
            <p class="article-content">Pulse = {{ active.pulse }}</p>

          </div>
        </article>
    {% endfor %}

{% endblock content %}