{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username}}</h1>
    <h4>Your stats</h4>
    <h5>currently displayed all stats, but it is in progress</h5>

    {% for drink in drinking %}

         <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ drink.user }}</a>

            </div>
            <h2><a class="article-title" href="#">{{ drink.timestamp }}</a></h2>
            <p class="article-content">Alcohol = {{ drink.alcohol }}</p>

          </div>
        </article>
    {% endfor %}

{% endblock content %}